# Dependencies
# Ignores all node_modules folders in any subdirectory
**/node_modules

# Build output
# Ignores all dist folders in any subdirectory
**/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
# Ignores all .env files
.env
*.env

# Guide materials
/Guide-Materials/

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?