# Dependencies
/node_modules
/backend/user/node_modules
/backend/mail/node_modules


# Build output
/dist
/backend/user/dist
/backend/mail/dist


# Environment variables
.env
*.env
backend/user/.env
backend/mail/.env

# Guide materials
/Guide-Materials/

# IDE and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env

.DS_Store